:root {
    --font-light:  	#ffffff;
    --font-heading: rgb(255, 255, 255);
    --font-body: rgb(31, 31, 31);
    --footer-background: #baffec;
    --footer-color: rgb(44, 44, 44);
    --nav-background:  #5f96c9;
    --list-color: rgb(255, 255, 255);
    --secondary-dark: #3c3c3c;
    --tertiary: rgb(224, 36, 124);
}

/*https://www.color-hex.com/color-palette/68693*/