body {
    margin:0px;
    padding:0px;
    font-family: Montserrat;
    color: var(--font-body);
    height: 100%;
}

#navbar {
    width: 100%;
    padding:0;
    margin:0;
}

#nav{
    height:65px;
    margin:0px;
    display: flex;                                                       
    align-items: center;
    justify-content:space-around;
    background-color: var(--nav-background);
}


#nav li{
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    margin: auto;
}

.push{
    margin-left: 900px; 
}

#nav:first-child {
    margin-left:0px;
}

.nav-link{
    text-decoration: none;
    color: var(--font-light);
}

.content {
    margin: 0 auto 0 auto;
    width: 80%
}

.card {
    margin-top: 20px;
    margin-left: 10px;
    padding:15px;
    padding-bottom: 60px;
    background-color: var(--list-color);
    box-shadow: grey 0px 3px 5px;
    border-radius: 3px;
    line-height: 30px;
}

.card h2 {
    font-family: "Monton"
}

.card button {
    display: block;
    margin: 15px auto 20px auto;   
    border:none;
    padding: 10px;
    background-color: var(--font-body);
    color: var(--font-light)
}
footer {
    margin-top: auto;  
    margin-bottom: 0;

    text-align: center;
    padding: 15px;

    color: var(--footer-color);
    background-color: var(--footer-background)

}