#wrapper {
    display: flex;
    flex-direction: column;
}

#wrapper div {
    
}

#splash {
    height:400px;
    background: url("/img/family.JPG") 0 -100px;
    background-size: 100% auto;
    background-attachment: fixed;
}

#content {
    display:grid;
    padding:0 130px 0 130px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
