
     {{ partial "header" }}
    <link rel="stylesheet" href="/css/list.css">
     {{.Content}}
     {{ range .Pages }}
          <div class="card">
               <h2>
                    <a href="{{.URL}}">{{.Title}}</a>
               </h2>
               <p style="font-size:18px;">{{.Summary}}</p>
               <span>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
               <span>{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</span>
               <span>{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</span>
               
          </div>
     {{ end }}
     {{ partial "footer" . }}
</body>
</html>