<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/splash.css">
<body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Cinzel+Decorative|Monoton|Montserrat" rel="stylesheet"> 
</head>

<div id="navbar">
    <ul id="nav">
        <li ><img src="/img/me.png" width="60px"></li>
        <li class="push">
            <a href="/" class="push nav-link">About</a>
        </li>
        <li >
            <a href="/posts" class="nav-link">Blog</a>
        </li>
    </ul>
</div>